{% load static %}
<header class="navbar navbar-expand-md d-print-none bg-white">
        <div class="container-xl">

          <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="" class="d-flex justify-content-center align-items-center">
              <img src="{% static 'images/S.png' %}" width="110" height="32" alt="Tabler" class="navbar-brand-image">
              <span class="fs-2 ms-2">Sales forcast</span>
            </a>
          </h1>
    
        </div>
      </header>